activator-sbt-atmos-play-shim.sbt
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.cache
/.target
/*.iml
/out
/.classpath
/.idea_modules
/RUNNING_PID
/project/*-shim.sbt
/bin
.DS_Store
