/* global variables */
@player0-color: red;
@player1-color: blue;
@player2-color: yellow;
@player3-color: green;
@figure-darken-player-color: 20%;

@field-size-small: 16px;
@dice-size-small: 20px;

@field-size-large: 45px;
@dice-size-large: 60px;

/* LESS Mixins */
.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.translateZ (@dimension) {
    -webkit-transform: translateZ( @dimension );
     -moz-transform: translateZ( @dimension );
       -o-transform: translateZ( @dimension );
          transform: translateZ( @dimension );
}

.rotateX-translateZ (@deg, @dimension) {
  -webkit-transform: rotateX( @deg ) translateZ( @dimension );
     -moz-transform: rotateX( @deg ) translateZ( @dimension );
       -o-transform: rotateX( @deg ) translateZ( @dimension );
          transform: rotateX( @deg ) translateZ( @dimension );
}

.rotateY-translateZ (@deg, @dimension) {
  -webkit-transform: rotateY( @deg ) translateZ( @dimension );
     -moz-transform: rotateY( @deg ) translateZ( @dimension );
       -o-transform: rotateY( @deg ) translateZ( @dimension );
          transform: rotateY( @deg ) translateZ( @dimension );
}

.translateZ-rotateX (@deg, @dimension) {
  -webkit-transform: translateZ( @dimension ) rotateX( @deg );
     -moz-transform: translateZ( @dimension ) rotateX( @deg );
       -o-transform: translateZ( @dimension ) rotateX( @deg );
          transform: translateZ( @dimension ) rotateX( @deg );
}

.translateZ-rotateY (@deg, @dimension) {
  -webkit-transform: translateZ( @dimension ) rotateY( @deg );
     -moz-transform: translateZ( @dimension ) rotateY( @deg );
       -o-transform: translateZ( @dimension ) rotateY( @deg );
          transform: translateZ( @dimension ) rotateY( @deg );
}

/* page layout */
/* ********************* */

body {
    background: #fff;
}

.show-via-js {
    display: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/* gameboard / login */
/* ********************* */

#gameboard {
    margin: auto;
    margin-bottom: 20px;
    min-width: 348px;
    box-shadow: 0 0 20px #222;
}

#gameboard,
#login {
    background: rgba(255, 255, 255, 0.6);
}

#login h1,
#login .alert {
    text-align: center;
}

#login .google-login {
    margin-top: 30px;
}

#login .separator {
    margin: 0 0 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}

#open-local-login {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.7);
}

#control {
    text-align: center;
    color: #000;
    text-shadow: 0 0 2px #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
    
    .player-0 {
        color: @player0-color;
    }
    
    .player-1 {
        color: @player1-color;
    }
    
    .player-2 {
        color: darken(@player2-color, @figure-darken-player-color);
    }
    
    .player-3 {
        color: @player3-color;
    }
}

.player-name {
    text-align: center;
    font-weight: bold;
}

#gameboard.large .field {
    width: @field-size-large;
    height: @field-size-large;
}

#gameboard.small .field {
    width: @field-size-small;
    height: @field-size-small;
}

.field {
    border: 1px solid #333;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px #bbb;
}

.row + .row {
    margin-top: 3%;
}

.home.player-0 .field,
.finish.player-0 .field {
    background: @player0-color;
    
}

.home.player-1 .field,
.finish.player-1 .field {
    background: @player1-color;
}

.home.player-2 .field,
.finish.player-2 .field {
    background: @player2-color;
}

.home.player-3 .field,
.finish.player-3 .field {
    background: @player3-color;
}

.public .field {
    background: #fff;
}

/* remove some bootstrap padding */
#gameboard.small .col {
    padding: 0 2px;
}

#gameboard.large .figure.player-0,
#gameboard.large .figure.player-1,
#gameboard.large .figure.player-2,
#gameboard.large .figure.player-3 {
    @size: @field-size-large * .6;
    width: @size;
    height: @size;
    margin-top: -@size / 2;
    margin-left: -@size / 2;
}

#gameboard.small .figure.player-0,
#gameboard.small .figure.player-1,
#gameboard.small .figure.player-2,
#gameboard.small .figure.player-3 {
    @size: @field-size-small * .6;
    width: @size;
    height: @size;
    margin-top: -@size / 2;
    margin-left: -@size / 2;
}


.figure.player-0,
.figure.player-1,
.figure.player-2,
.figure.player-3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #555;
    
    &.player-0 {
        background-color: @player0-color;
    }
    
    &.player-1 {
        background-color: @player1-color;
    }
    
    &.player-2 {
        background-color: @player2-color;
    }
    
    &.player-3 {
        background-color: @player3-color;
    }
}

.home .figure.player-0,
.finish .figure.player-0 {
    background-color: darken(@player0-color, @figure-darken-player-color);
}

.home .figure.player-1,
.finish .figure.player-1 {
    background-color: darken(@player1-color, @figure-darken-player-color);
}

.home .figure.player-2,
.finish .figure.player-2 {
    background-color: darken(@player2-color, @figure-darken-player-color);
}

.home .figure.player-3,
.finish .figure.player-3 {
    background-color: darken(@player3-color, @figure-darken-player-color);
}

#add-player-dialog .modal-content {
    background: rgba(255, 255, 255, 0.9);
}

#add-player-dialog input {
    background: none;
}

#add-player-dialog .modal-footer {
    margin-top: 0;
}

#add-player-dialog input {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    
    &:focus {
        border: none;
        outline: none;
    }
}


#gameboard.large .dice-container {
    width: @dice-size-large;
    height: @dice-size-large;
    margin-top: (@field-size-large - @dice-size-large) / 2;
    margin-left: (@field-size-large - @dice-size-large) / 2;
      -webkit-perspective: @dice-size-large * 5;
     -moz-perspective: @dice-size-large * 5;
       -o-perspective: @dice-size-large * 5;
          perspective: @dice-size-large * 5;
}

#gameboard.small .dice-container {
    width: @dice-size-small;
    height: @dice-size-small;
    margin-top: (@field-size-small - @dice-size-small) / 2;
    margin-left: (@field-size-small - @dice-size-small) / 2;
      -webkit-perspective: @dice-size-small * 5;
     -moz-perspective: @dice-size-small * 5;
       -o-perspective: @dice-size-small * 5;
          perspective: @dice-size-small * 5;
}

.dice-container {
  position: relative;
          
    .side {
        color: #444;
        background-color: white;
    }
    
    &.player-0 .side {
        color: white;
        background-color: @player0-color;
    }
    
    &.player-1 .side {
        color: white;
        background-color: @player1-color;
    }
    
    &.player-2 .side {
        color: #444;
        background-color: @player2-color;
    }
    
    &.player-3 .side {
        color: white;
        background-color: @player3-color;
    }
}

#gameboard.small #dice {
    .translateZ(-@dice-size-small/2);
}

#gameboard.large #dice {
    .translateZ(-@dice-size-large/2);
}

#dice {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .3s;
     -moz-transition: -moz-transform .3s;
       -o-transition: -o-transform .3s;
          transition: transform .3s;
    &:hover {
        cursor: pointer;
    }
}

#gameboard.large #dice .side {
  width: @dice-size-large;
  height: @dice-size-large;
  line-height: @dice-size-large;
  font-size: @dice-size-large * 0.6;
}

#gameboard.small #dice .side {
  width: @dice-size-small;
  height: @dice-size-small;
  line-height: @dice-size-small;
  font-size: @dice-size-small * 0.6;
}

#dice .side {
  display: block;
  position: absolute;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
   -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#gameboard.small #dice .one  { .translateZ(@dice-size-small / 2); }
#gameboard.small #dice .six   { .rotateX-translateZ(-180deg, @dice-size-small / 2); }
#gameboard.small #dice .four { .rotateY-translateZ(90deg, @dice-size-small / 2); }
#gameboard.small #dice .three { .rotateY-translateZ(-90deg, @dice-size-small / 2); }
#gameboard.small #dice .five { .rotateX-translateZ(90deg, @dice-size-small / 2); }
#gameboard.small #dice .two { .rotateX-translateZ(-90deg, @dice-size-small / 2); }

#gameboard.small #dice.show-one { .translateZ(-@dice-size-small / 2); }
#gameboard.small #dice.show-six { .translateZ-rotateX(-180deg, -@dice-size-small / 2); }
#gameboard.small #dice.show-four { .translateZ-rotateY(-90deg, -@dice-size-small / 2); }
#gameboard.small #dice.show-three { .translateZ-rotateY(90deg, -@dice-size-small / 2); }
#gameboard.small #dice.show-five { .translateZ-rotateX(-90deg, -@dice-size-small / 2); }
#gameboard.small #dice.show-two { .translateZ-rotateX(90deg, -@dice-size-small / 2); }

#gameboard.large #dice .one  { .translateZ(@dice-size-large / 2); }
#gameboard.large #dice .six   { .rotateX-translateZ(-180deg, @dice-size-large / 2); }
#gameboard.large #dice .four { .rotateY-translateZ(90deg, @dice-size-large / 2); }
#gameboard.large #dice .three { .rotateY-translateZ(-90deg, @dice-size-large / 2); }
#gameboard.large #dice .five { .rotateX-translateZ(90deg, @dice-size-large / 2); }
#gameboard.large #dice .two { .rotateX-translateZ(-90deg, @dice-size-large / 2); }

#gameboard.large #dice.show-one { .translateZ(-@dice-size-large / 2); }
#gameboard.large #dice.show-six { .translateZ-rotateX(-180deg, -@dice-size-large / 2); }
#gameboard.large #dice.show-four { .translateZ-rotateY(-90deg, -@dice-size-large / 2); }
#gameboard.large #dice.show-three { .translateZ-rotateY(90deg, -@dice-size-large / 2); }
#gameboard.large #dice.show-five { .translateZ-rotateX(-90deg, -@dice-size-large / 2); }
#gameboard.large #dice.show-two { .translateZ-rotateX(90deg, -@dice-size-large / 2); }
