@(bc: de.htwg.madn.controller.IBoardControllerPort)


@printField(index:Int, fieldtype:String, playerID:Int = -1) = {
    
    <div class="@fieldtype
        @if(fieldtype == "home" || fieldtype == "finish") {player-@playerID}">
    
	    <div class="col-xs-1">
	        <div class="field field-@index">
	           <a href="#" class="figure"></a>
	        </div>
	    </div>
    
    </div> 
    
}

@printPlayerNameField(playerID:Int) = {
    <div class="col-xs-2 player-name player-@playerID">
    </div>
}

@printSpacer(span:Int) = {
    <div class="col-xs-@span"></div>
}


@main { 



<div class="modal fade" id="add-player-dialog" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Player</h4>
      </div>
      <div class="modal-body">
          <input type="text" value="" placeholder="Player name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Player</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   




<div id="gameboard" class="well">

    <div class="row" id="control">
        <div class="col-xs-3 left">
           <a href="/cmd/s" id="start" class="show-via-js"><button class="btn btn-success">
               <span class="glyphicon glyphicon-play"></span> Start
               </button></a>
               
           <a href="/cmd/r" id="quit" class="show-via-js"><button class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span> Quit
              </button></a>
        </div>
        <div class="col-xs-5" id="status-text">
	        <div class="body">
	          <strong class="player"><span></span></strong> <span class="text"></span>
	        </div>
	    </div>
	    <div class="col-xs-3 right">
        	<a href="#" id="add-player">
	        	<button data-toggle="modal" data-target="#add-player-dialog" 
	            	class="btn btn-default" id="add-player-button">
	            	<span class="glyphicon glyphicon-plus"></span> Player
	        	</button>
        	</a>
	    </div>
    </div>

    <div class="row">
        @printField(0, "home", 0)
        @printField(1, "home", 0)
        @printSpacer(2)
        @printField(8, "public")
        @printField(9, "public")
        @printField(10, "public")
        @printSpacer(2)
        @printField(0, "home", 1)
        @printField(1, "home", 1) 
    </div>
    <div class="row">
        @printField(3, "home", 0)
        @printField(2, "home", 0)
        @printSpacer(2)
        @printField(7, "public")
        @printField(0, "finish", 1)
        @printField(11, "public")
        @printSpacer(2)
        @printField(3, "home", 1)
        @printField(2, "home", 1)
    </div>
    <div class="row">
        @printPlayerNameField(0)
        @printSpacer(2)
        @printField(6, "public")
        @printField(1, "finish", 1)
        @printField(12, "public")
        @printSpacer(2)
        @printPlayerNameField(1)
    </div>
    <div class="row">
        @printSpacer(4)
        @printField(5, "public")
        @printField(2, "finish", 1)
        @printField(13, "public")
        @printSpacer(4)
    </div>
    <div class="row">
        @printField(0, "public")
        @printField(1, "public")
        @printField(2, "public")
        @printField(3, "public")
        @printField(4, "public")
        @printField(3, "finish", 1)
        @printField(14, "public")
        @printField(15, "public")
        @printField(16, "public")
        @printField(17, "public")
        @printField(18, "public")
    </div>
    <div class="row">
        @printField(39, "public")
        @printField(0, "finish", 0)
        @printField(1, "finish", 0)
        @printField(2, "finish", 0)
        @printField(3, "finish", 0)
        <div class="col-xs-1">
	        <div class="dice-container">
			    <div id="dice" class="show-six">
			      <div class="side one">1</div> <!-- front -->
			      <div class="side six">6</div> <!-- back -->
			      <div class="side four">4</div> <!-- right -->
			      <div class="side three">3</div> <!-- left -->
			      <div class="side five">5</div> <!-- top -->
			      <div class="side two">2</div> <!-- bottom -->
			    </div>
			</div>
        </div>
        @printField(3, "finish", 2)
        @printField(2, "finish", 2)
        @printField(1, "finish", 2)
        @printField(0, "finish", 2)
        @printField(19, "public")
    </div>
    <div class="row">
        @printField(38, "public")
        @printField(37, "public")
        @printField(36, "public")
        @printField(35, "public")
        @printField(34, "public")
        @printField(3, "finish", 3)
        @printField(24, "public")
        @printField(23, "public")
        @printField(22, "public")
        @printField(21, "public")
        @printField(20, "public")
    </div>
    <div class="row">
        @printSpacer(4)
        @printField(33, "public")
        @printField(2, "finish", 3)
        @printField(25, "public")
        @printSpacer(4)
    </div>  
    <div class="row">
        @printPlayerNameField(3)
        @printSpacer(2)
        @printField(32, "public")
        @printField(1, "finish", 3)
        @printField(26, "public")
        @printSpacer(2)
        @printPlayerNameField(2)
    </div>   
    <div class="row">
        @printField(0, "home", 3)
        @printField(1, "home", 3)
        @printSpacer(2)
        @printField(31, "public")
        @printField(0, "finish", 3)
        @printField(27, "public")
        @printSpacer(2)
        @printField(0, "home", 2)
        @printField(1, "home", 2)
    </div>
    <div class="row">
        @printField(3, "home", 3)
        @printField(2, "home", 3)
        @printSpacer(2)
        @printField(30, "public")
        @printField(29, "public")
        @printField(28, "public")
        @printSpacer(2)
        @printField(3, "home", 2)
        @printField(2, "home", 2)
    </div>
    
</div> <!-- /#gameboard -->


}

